// Tablet Screen Animation
// @keyframes screenmarquee {
//     0% {
//         background-position: 0 0;
//     }
//     50% {
//         background-position: 0 100%;
//     }
//     100% {
//         background-position: 0 0;
//     }
// }
// Tablet Screen Animation


// Support Marquee Animation
// @keyframes marquee {
//     from {
//       transform: translateY(0);
//     }
//     to {
//       transform: translateY(-150%);
//     }
// }
// Support Marquee Animation


// Border Gradiant Animation
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
// Border Gradiant Animation
