﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.slideRightToLeft {
    border: solid 1px gray;
    /*color: white;*/
    cursor: pointer;
    padding: 10px;
    margin: -21px 0;
    margin-left: 100%;
    min-width: 100%;
    transition: all 0.5s;
}

    .slideRightToLeft.show {
        display: block;
        margin-left: 0%;
    }

.slideLeftToRight {
    border: solid 1px gray;
    /*color: white;*/
    cursor: pointer;
    padding: 10px;
    margin: -21px 0;
    margin-right: 100%;
    min-width: 0%;
    transition: all 0.5s;

}

    .slideLeftToRight.show {
        display: block;
        margin-right: 0%;
        margin-top:5px;
    }