﻿body{font-family:"Calibri"}

#admitCard { position:relative; }
#background_img { }
.schedule_table { font-size:12px; }
#main_table { }
.note {font-size:12px; font-style:italic; text-align:center; color:#272727;}
.note span {padding-left:10px;}
table {border-color:#515151 !important; border:solid 1px;}
.bg_image {padding:15px;}
h1 {font-family: Times, "Times New Roman", serif; font-size:20px; font-weight:bold;}
h2 {font-size:18px; font-weight:bold;}
h3 {font-size:16px; font-weight:bold;}



tr td p {
    margin: 0px !important;
}
