// Mixin
// flex Mixin
@mixin FlexDAJ($flex: $d-flex, $dir: $di-ro , $alig: $al-st, $just: $ju-st){
    display: $flex;
    flex-direction: $dir;
    align-items: $alig;
    justify-content: $just;
    flex-wrap: wrap;
}
// flex Mixin


// Suppport & Comment Box Css
@mixin SupportBox($height: 451px){
    height: $height;
    margin: 0 auto;
    overflow: hidden;
    background: $white;
    position: relative;
    border: $Border;
    box-shadow: 30px 30px 127px 0px #ccccccad;
    @include breakpoint(1600px){
        height: 320px;
    }
    @include breakpoint(1366px){
        height: 260px;
    }
    @include breakpoint(1280px){
        height: 275px;
    }
}
// Suppport & Comment Box Css


// Border Animation
@mixin BorderAnimation($gradClr: $PrimaryClr, $gradClr1: $SecondaryClr){
    .bg-grad {
        --borderWidth: 5px;
        width:calc(35% - 10px);
        margin-right: 1%;
        background: #ffff;
        position: relative;
        padding: 50px 42px;
        box-shadow: 3px 30px 27px 0px #cccccc6e;
        
        @include md{
            width:48%;
            margin-bottom: 18px;
        }
        @include lsm{
            width:100%;
            margin: 0 3px 17px !important;
        }
        &:nth-child(3){
           width:27%;
           --borderWidth: 0px;
           
          @include breakpoint(1440px){
            padding: 31px 17px;
          }
          @include breakpoint(1366px){
            padding: 20px 8px;
          }
          @include md{
            width:48%;
          }
          @include lsm{
            width:100%;
          }
        }
        &:nth-child(3){
            @include md{
                width:70%;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: calc(-1 * var(--borderWidth));
            left: calc(-1 * var(--borderWidth));
            height: calc(100% + var(--borderWidth) * 2);
            width: calc(100% + var(--borderWidth) * 2);
            background: linear-gradient(60deg, $gradClr, $gradClr1);
            z-index: -1;
            animation: animatedgradient 15s ease alternate infinite;
            background-size: 300% 300%;
        }
      }
}
// Border Animation





//Translate Position

@mixin center($position) {
    position: absolute;
    
    @if $position == 'vertical' {
      top: 50%;
      transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
      left: 50%;
      transform: translate(-50%);
    }
    @else if $position == 'both' {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

//   @include center(both);

//Translate Position





// Not Use Yet 

/* Sass code */
@for $i from 1 through 8 {
    $width: percentage(1 / $i);
    .col-#{$i} {
        width: $width;
    }

    // How Formula WOrk
    // 1/1 = 100% 
    // 1/2 = 50%
    // 1/3 = 33.33%
    // 1/4 = 25%
    // How Formula WOrk

 
}
 
/* output */
.col-1 {width: 100%;}
.col-2 {width: 50%;}
.col-3 {width: 33.333%;}
.col-4 {width: 25%;}
.col-5 {width: 20%;}
.col-6 {width: 16.666%;}
.col-7 {width: 14.285%;}
.col-8 {width: 12.5%;}
