﻿
@{
    ViewBag.Title = "Dasboard_Two";
    Layout = "";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Donate, Pakistan, Education, higher education, HUFUS,HUF US,Habib University Foundation,Habib University Foundation US, Habib,Habib Donors,Contribute to Habib,Habib University Houston,Habib University Fundraiser,Habib University,Houston, ">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->
    <title>Donation Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon-hufus.ico">

    <!-- Bootstrap CSS -->

    <link href="~/Content/Dashboard/css/plugin.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/css/style.css" rel="stylesheet" />
</head>
<body class="js-container">


    <header>
        <div class="container-fluid px-5">
            <div class="header-inner">
                <div class="logo">
                    <img src="img/hu-logo.svg" alt="" class="hu-logo">
                </div>
                <div class="buildin-content">
                    <h2>
                        Building Communities
                        & Reshaping Philanthropy
                    </h2>
                    <h3>Make your Commitment</h3>
                </div>
                <div class="left-logo">
                    <img src="img/huf-us-logo.svg" alt="" class="huf-logo">
                </div>
            </div>
        </div>
    </header>
    <div class="main-wrapper">

        <section class="guest-participation">
            <div class="container-fluid px-5">
                <div class="row align-items-end">
                    <div class="col-lg-4 main-box-target">
                        <div class="target-ammoun gradient-border">
                            <h4>Target Amount for Tonight</h4>
                            <h1 class="target-amount" id="lblTragetAmt">USD 6,000,00</h1>
                            <div class="raised-area reaised-center">
                                <div class="raised-area-box">
                                    <h4>Total Committed Pledges</h4>
                                    <h1 class="raised-amount" id="lblRaisedAmt">USD 4,800,00</h1>
                                </div>
                                <div class="box-chart-counter">
                                    <div class="raised-amount-counter" data-percent="48">48%</div>
                                </div>
                            </div>
                            <div class="raised-area raised-black">
                                <div class="raised-area-box">
                                    <h4>Total Pledge Amount 2021-2022</h4>
                                    <h1 class="raised-amount">USD 180,000</h1>
                                </div>
                                <div class="box-chart-counter">
                                    <div class="total-pldge-amount" data-percent="30">30%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row justify-content-end">
                            <div class="col-lg-5 set-scan-code">
                                <div class="scan-support-bar">
                                    <img src="img/hufus-support-qrcode.png" class="bar-code-suuport" alt="">
                                    <div class="bar-code-content">
                                        <h2>Scan to Support</h2>
                                        <p>hufus.org/support</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="guest-box after-img">
                                    <div class="guest-head">
                                        <h1 class="percentage-count" id="SustainablePer">0%</h1>
                                        <p class="user-count"><img src="img/user-icon.svg" alt=""><span id="T_sustainable_People">0</span></p>
                                    </div>
                                    <p>of <span id="Sustainable_Count">0</span>  guests signed up <br> for sustainable giving</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="guest-box-last after-img">

                                    <div class="guest-last-left">
                                        <h1 class="percentage-count">05</h1>
                                        <p>Full named <br> scholarships</p>
                                    </div>
                                    <div class="guest-last-left">
                                        <p class="user-count"><img src="img/user-icon.svg" alt="">30</p>
                                        <div class="bottom-last-box">
                                            <h1 class="percentage-count">20.25</h1>
                                            <p>Scholarships <br> are pledged</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="all-contributes-area">
            <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="sup-head">Supporters</h4>
                        <div class="contr-wraper-main">
                            <ul class="all-contribute" id="animatedHeading">

                                <li style="opacity: 0;">
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Amir Shah
                                                <span>Donated</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Monthly</span>
                                                <span class="al-usd">USD 500</span>
                                            </p>
                                            <p class="rec-sp">Scholarship Funds</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Amir Shah
                                                <span>Sustaianbale Giving</span>
                                            </p>
                                            <p class="newest-tag">
                                                New
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 6,000</span>
                                            </p>
                                            <p class="rec-sp">Monthly USD 500</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Shell Oil Co
                                                <span>Sustainable Giving</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 48,000</span>
                                            </p>
                                            <p class="rec-sp">Monthly USD 4,000</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Sajjad Dawood
                                                <span>Merit based scholarship</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 5,000</span>
                                            </p>
                                            <!-- <p class="rec-sp">Scholarship Funds</p> -->
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Amir Shah
                                                <span>Sustaianbale Giving</span>
                                            </p>
                                            <p class="newest-tag">
                                                New
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 6,000</span>
                                            </p>
                                            <p class="rec-sp">Monthly USD 500</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Shell Oil Co
                                                <span>Sustainable Giving</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 48,000</span>
                                            </p>
                                            <p class="rec-sp">Monthly USD 4,000</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Sajjad Dawood
                                                <span>Merit based scholarship</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 5,000</span>
                                            </p>
                                            <p class="rec-sp">Scholarship Funds</p>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <h4 class="sup-head">Comments From Gala Supporter</h4>
                        <ul class="all-contribute" id="commentanimatedHeading">
                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>
                                        We know only too well that what we are doing is nothing more than a drop in
                                        the ocean. But if the drop were not there, the ocean would be missing something.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Syed Salman</h4>
                                    <p>
                                        We know only too well that what we are doing is nothing more than a drop in
                                        the ocean. But if the drop were not there, the ocean would be missing something.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Arsalan Shah</h4>
                                    <p>
                                        We know only too well that what we are doing is nothing more than a drop in
                                        the ocean. But if the drop were not there, the ocean would be missing something.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Ammar Siddiqui</h4>
                                    <p>We make a living by what we get, but we make a life by what we give.</p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>
                                        We know only too well that what we are doing is nothing more than a drop in
                                        the ocean. But if the drop were not there, the ocean would be missing something.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>We make a living by what we get, but we make a life by what we give.</p>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </section>
        <footer>
            <p class="copy-text">&copy; <a href="https://hufus.org/">hufus.org</a> | <a href="mailto:giving@hufus.org">giving@hufus.org</a></p>
        </footer>
    </div>

    <div class="donation-celebration">
        <div class="donation-content">
            <label class="donator-name">
                Muhammad Shehriyar Hasan
                <!-- <span>Donated</span> -->
            </label>
            <label class="donation-recieve">signed up for accessible giving !</label>
        </div>
    </div>


    <script src="~/Content/Dashboard/js/plugin.js"></script>
    <script src="~/Content/Dashboard/js/custom.js"></script>
    <script src="~/Content/Dashboard/js/Dashboard.js"></script>
    <script src="~/Scripts/accounting.js"></script>
</body>
</html>
