﻿
@{
    /**/

    ViewBag.Title = "Dashboard";
    Layout = "";
}




    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="Donate, Pakistan, Education, higher education, HUFUS,HUF US,Habib University Foundation,Habib University Foundation US, Habib,Habib Donors,Contribute to Habib,Habib University Houston,Habib University Fundraiser,Habib University,Houston, ">
        <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->
        <title>Donation Dashboard</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon-hufus.ico">

        <!-- Bootstrap CSS -->

        <link href="~/Content/Dashboard/css/style.css" rel="stylesheet" />
        <link href="~/Content/Dashboard/css/plugin.css" rel="stylesheet" />

    </head>
    <body class="js-container">


        <header>
            <div class="container">
                <div class="header-inner">
                    <div class="logo">
                        <img src="~/Content/Dashboard/img/hu-logo.svg" alt="" class="hu-logo">
                    </div>
                    <div class="left-logo">
                        <img src="~/Content/Dashboard/img/huf-us-logo.svg" alt="" class="huf-logo">
                    </div>
                </div>
            </div>
        </header>
        <div class="main-wrapper">
            <section class="building-comunity">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5">
                            <div class="buildin-content">
                                <h1>
                                    Building Communities <br>
                                    & Reshaping Philanthropy
                                </h1>
                                <h3>Make your Contribution</h3>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="bulding-right-box">
                                <!-- <div class="contribute-box">
                                <h5>Contributions by Product</h5>
                                <ul class="list-funds">
                                    <li>
                                        <p>  Scholarship Fund
                                          <span> USD 80,000</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Financial Fund
                                            <span> USD 70,000</span>
                                        </p>
                                    </li>
                                </ul>
                            </div> -->
                                <div class="contribute-box total-amount-box">
                                    <p>Total Amount</p>
                                    <h3 id="T_Amount">USD 1,500,00</h3>

                                    @*<input type="button" name="name" id="restbtn" value="reset" />*@
                                    <ul class="list-funds">
                                        <li>
                                            <p>
                                                Pledged
                                                <span id="T_P_Amount"> USD 50,000</span>
                                            </p>
                                            <p style="display: flex;"><img src="~/Content/Dashboard/img/user-icon.svg" alt=""> <span id="Pledged_Count" style="font-size: 17px;font-weight: 400;"> 32</span></p>
                                        </li>
                                        <li>
                                            <p>
                                                Donated
                                                <span id="T_D_Amount"> USD 100,000</span>
                                            </p>
                                            <p style="display: flex;"><img src="~/Content/Dashboard/img/user-icon.svg" alt=""> <span id="Donated_Count" style="font-size: 17px;font-weight: 400;"> 32</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="recent-contribute">
                <div class="container">
                    <h4>Recent Contributors</h4>
                    <div class="recent-inner">
                        <div class="recent-box" data-aos="zoom-in" data-aos-duration="1500">
                            <div class="rcent-top">
                                <p>
                                    Amir Shah
                                    <span>Donated</span>
                                    <span class="rec-sp">Scholarship Funds</span>
                                </p>
                                <h3>USD 500</h3>
                            </div>
                        </div>
                        <div class="recent-box">
                            <div class="rcent-top">
                                <p>
                                    Amir Shah
                                    <span>Donated</span>
                                    <span class="rec-sp">Scholarship Funds</span>
                                </p>
                                <h3>USD 500</h3>
                            </div>
                        </div>
                        <div class="recent-box">

                            <div class="rcent-top">
                                <p>
                                    Amir Shah
                                    <span>Donated</span>
                                    <span class="rec-sp">Scholarship Funds</span>
                                </p>
                                <h3>USD 500</h3>
                            </div>
                            <div class="monthly-subscribe">
                                <p>Monthly Subscriber</p>
                            </div>
                        </div>
                        <div class="recent-box">
                            <div class="rcent-top">
                                <p>
                                    Amir Shah
                                    <span>Donated</span>
                                    <span class="rec-sp">Scholarship Funds</span>
                                </p>
                                <h3>USD 500</h3>
                            </div>
                        </div>
                        <div class="recent-box">
                            <div class="rcent-top">
                                <p>
                                    Syed Shujat Ali
                                    <span>Donated</span>
                                    <span class="rec-sp">Scholarship Funds</span>
                                </p>
                                <h3>USD 500</h3>
                            </div>
                            <div class="monthly-subscribe">
                                <p>Monthly Subscriber</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="all-contributes-area">
                <div class="left-img">
                    <img src="~/Content/Dashboard/img/hu-building-illustration.svg" alt="" class="">
                    <a href="habib.edu.pk" class="buildin-link">habib.edu.pk</a>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>All Contributors</h4>
                            <ul class="all-contribute" id="animatedHeading"></ul>

                        </div>
                        <div class="col-lg-6">
                            <h4>Comments From Gala Participants</h4>
                            <ul class="all-contribute" id="commentanimatedHeading">
                                @*<li>
                                    <div class="flex-set">
                                        <h4>Muhammad Tahir</h4>
                                        <p>We make a living by what we get, but we make a life by what we give.</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex-set">
                                        <h4>Muhammad Tahir</h4>
                                        <p>We make a living by what we get, but we make a life by what we give.</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex-set">
                                        <h4>Muhammad Tahir</h4>
                                        <p>We make a living by what we get, but we make a life by what we give.</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex-set">
                                        <h4>Muhammad Tahir</h4>
                                        <p>We make a living by what we get, but we make a life by what we give.</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex-set">
                                        <h4>Muhammad Tahir</h4>
                                        <p>We make a living by what we get, but we make a life by what we give.</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex-set">
                                        <h4>Muhammad Tahir</h4>
                                        <p>We make a living by what we get, but we make a life by what we give.</p>
                                    </div>
                                </li>*@
                            </ul>

                        </div>
                        <!-- <div class="col-lg-7">
                        <div class="contribute-area-right">
                            <div class="col-contr-35">
                                <h4>Tiers of Contribution</h4>
                                <ul class="tiers-contribute" id="triesanimatedHeading">
                                    <li>
                                        <div class="flex-set">
                                            <p>USD 10 - 250</p>
                                            <p><img src="img/user-icon.svg" alt=""> <span> 12</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-set">
                                            <p>USD 10 - 250</p>
                                            <p><img src="img/user-icon.svg" alt=""> <span> 12</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-set">
                                            <p>USD 10 - 250</p>
                                            <p><img src="img/user-icon.svg" alt=""> <span> 12</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-set">
                                            <p>USD 10 - 250</p>
                                            <p><img src="img/user-icon.svg" alt=""> <span> 12</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-set">
                                            <p>USD 10 - 250</p>
                                            <p><img src="img/user-icon.svg" alt=""> <span> 12</span></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-contr-65">
                                <h4>Tiers of Contribution</h4>
                                <ul class="monthlys-contribute" id="monthanimatedHeading">
                                    <li>
                                        <div class="flex-set">
                                            <p>
                                                <span>Muhammad Javed</span>
                                                <span>USD 3,000</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-set">
                                            <p>
                                                <span>Muhammad Javed</span>
                                                <span>USD 3,000</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-set">
                                            <p>
                                                <span>Muhammad Javed</span>
                                                <span>USD 3,000</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-set">
                                            <p>
                                                <span>Muhammad Javed</span>
                                                <span>USD 3,000</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex-set">
                                            <p>
                                                <span>Muhammad Javed</span>
                                                <span>USD 3,000</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div> -->
                    </div>
                </div>
                <div class="bar-code-area">
                    <h2>
                        Scan here
                        <span>for Contribute</span>
                    </h2>
                    <div class="brc-img">
                        <img src="~/Content/Dashboard/img/bar-code.svg" alt="">
                    </div>
                    <p>
                        Visit <br>
                        <a href="support.hufus.org" class="vis-link">support.hufus.org</a>
                    </p>
                </div>
            </section>
        </div>

        <div class="donation-celebration">
            <div class="donation-content">
                <label class="donator-name">
                    Muhammad Shehriyar Hasan
                    <span>Donated</span>
                </label>
                <label class="donation-recieve">USD 50,000</label>
            </div>
        </div>
        <script src="~/Scripts/accounting.js"></script>
        <script src="~/Content/Dashboard/js/plugin.js"></script>
        <script src="~/Content/Dashboard/js/custom.js"></script>
        <script src="~/Content/Dashboard/js/Dashboard.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>

        <script src="/signalr/Hubs"></script>

        @*<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>

        <script src="/signalr/Hubs"></script>*@

        <input type="hidden" id="hfcelId"  />

    </body>
</html>




<script>

    setInterval(function () {

        $.connection.hub.start();

    }, 4000);

  
    var QueueHub = $.connection.HUFHUB;

    QueueHub.client.dashboardMsg = function (PublishMessageID, UnPublishMessageID, Msg, P_Name) {
        debugger;
        //$('#Chats').append('<li><strong> User Name : </strong> ' + htmlEncode(Name)

        //    + '<strong> Message : </strong> ' + htmlEncode(Message) + '</li>');
        //    //+ '<strong> Room : </strong> ' + htmlEncode(Room) + '</li>'
        //    //+ '<strong> DisplayIP : </strong> ' + htmlEncode(DisplayIP) + '</li>'
        //    //+ '<strong> ConsultantName : </strong> ' + htmlEncode(ConsultantName) + '</li>'
        //    //+ '<strong> PatientName : </strong> ' + htmlEncode(PatientName) + '</li>'
        //    //+ '<strong> ButtonCode : </strong> ' + htmlEncode(button_Code) + '</li>'
        //    //+ '<strong> Status: </strong> ' + htmlEncode(Status) + '</li>');


        
        Append_Comments(PublishMessageID, Msg, P_Name)

        remove_Comments(UnPublishMessageID);
    };

    QueueHub.client.reset = function (Dashboardclare, UnPublishMessageID, Msg, P_Name) {
        debugger;
        
        if (Dashboardclare == 1) {
            localStorage.clear();

        }

      
    };
</script>


