﻿
@{
    /**/

    ViewBag.Title = "Dashboard";
    Layout = "";
}


<style>
    #scroller {
        overflow-y: scroll;
        padding: 0;
        margin: 0 border:1px solid #eee;
        width: 100%;
        /* height: 344px; */
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background: #fff;
        box-shadow: 30px 30px 127px 0px #ccccccad;
    }

    .marquee {
        width: 100%;
        overflow: hidden;
        border: 1px solid #ccc;
       
        height:500px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Donate, Pakistan, Education, higher education, HUFUS,HUF US,Habib University Foundation,Habib University Foundation US, Habib,Habib Donors,Contribute to Habib,Habib University Houston,Habib University Fundraiser,Habib University,Houston, ">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->
    <title>Zakat Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Dashboard/img/favicon-hufus.ico">

   
   <link rel="stylesheet" href="~/Content/Dashboard/css/style.min.css">
    <link rel="stylesheet" href="~/Content/Dashboard/css/plug-in.min.css">
    <link rel="stylesheet" href="~/Content/Dashboard/css/plugin.css">
</head>
<body class="js-container">

  <header class="main-header">
      <div class="logo">
          <img src="~/Content/Dashboard/img/hu-logo.svg" class="img-fluid" alt="">
      </div>
      <div class="center-text">
        <h2>Building Communities
            &amp; Reshaping Philanthropy</h2>
        <h3>Make your Commitment</h3>
      </div>
      <div class="right-logo">
        <img src="~/Content/Dashboard/img/huf-logo.svg" class="img-fluid" alt="">
      </div>
  </header>



 <section class="dashboard-screen">
      <div class="container-fluid">
          <div class="dash-iner-screens bg-grad">
              <div class="target-box">
                  <div class="target-seprator">
                      <h1>
                          <span>Targeted Amount for tonight</span>
                      </h1>
                      <h1 id="lblTragetAmt">
                       <sub> PKR</sub>   0 
                      </h1>
                  </div>
                  <div class="target-seprator range-calculation">
                      <div class="animationn-blast animation-raised" style="display:none">
                          <img src="~/Content/Dashboard/img/animation.gif" alt="">
                      </div>
                        <div class="seprator">
                            <h1>
                                <span>Total amount commited  for tonight</span>
                            </h1>
                            <h1 id="lblTotalPAmt">
                              <sub> PKR</sub>  0 
                            </h1>
                        </div>
                        <div id="graphCommitted">
                            <div class="box-chart-counter">
                                <div class="raised-amount-counter" data-percent="0">0%</div>
                            </div>
                        </div>
                  </div>
              </div>

              <div class="target-box">
                  <div class="last-target">
                      <h3 class="user-count"><img src="~/Content/Dashboard/img/user-icon.svg" alt=""><span id="T_sustainable_People">0</span></h3>
                      <div class="access-gives">
                          <h3>Accessible Giving</h3>
                          <h4>
                              Building <br>
                              Community of <br>
                              Supporters!
                          </h4>
                      </div>
                      <div class="ipad-mock">
                          <img src="~/Content/Dashboard/img/ipad-mockup.png" class="img-fluid tab-img" alt="">
                          <div class="mock-screen">
                              <div class="scroll-img-anim"></div>
                            <!-- <img src="img/tab-screeen.png" class="img-fluid" alt=""> -->
                          </div>
                      </div>
                  </div>
              </div>

              <div class="target-box">
                <h3 class="user-count"><img src="~/Content/Dashboard/img/user-icon.svg" alt=""> <span id="T_Pledge_People"></span> </h3>
                <div class="guest-box-last">
                    <div class="guest-last-left">
                        <h1 class="percentage-count" id="lblWeightageAmt">0</h1>
                        <h4>Scholarships <br> pledged</h4>
                    </div>
                    <div class="guest-last-left">
                        <div class="bottom-last-box">
                            <h1 class="percentage-count" id="lbl_TotalScholarship">0</h1>
                            <h4>Full named <br> scholarships</h4>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
</section>


  <section class="all-contributes-area">
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="sup-head">Supporters</h4>
                <div class="contr-wraper-main">
                        <marquee direction="up" scrolldelay="5" scrollamount="1" vspace="1%" height="100%">
                                        <ul class="all-contribute" id="animatedHeading"></ul>

                        </marquee>
                </div>

            </div>
            <div class="col-lg-6">
                <h4 class="sup-head">Comments from Guests</h4>
                <div class="comment-area">
                    <div id="scroller">
                        <marquee direction="up" scrolldelay="5" scrollamount="1" vspace="1%" height="100%">
                            <ul class="all-contribute" id="commentanimatedHeading"></ul>
                        </marquee>
                    </div>
                </div>

            </div>
        
        </div>
    </div>
</section>



<footer>
    <p class="copy-text">© habib.edu.pk</p>
</footer>




    <script src="~/Content/Dashboard/js/plugin.js"></script>

    <script src="~/Content/Dashboard/js/custom.js"></script>
    <script src="~/Content/Dashboard/js/Dashboard.js?v=1"></script>
    <script src="~/Scripts/accounting.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/Hubs"></script>
    <script src="~/Content/Dashboard/js/jquery.cookie.js"></script>
    <script type="" src="~/Content/Dashboard/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <input type="hidden" name="UserName" id="hfDashboarLoginID" value="@ViewBag.DashboardLoginID" />
    @using (Html.BeginForm("Index", "Dashboard", FormMethod.Get))
    {

        @*<input type="hidden" name="hfcelId" id="hfcelId" />*@
        <input type="hidden" name="UserRefid" id="hfUserRefID" value="@ViewBag.UserRedId" />

        <input type="submit" style="display:none" />
    }

 


</body>
</html>



<script>
   

    //$(document).keypress(function (event) {
       
    //    var keycode = (event.keyCode ? event.keyCode : event.which);
    //    if (keycode == '13') {

    //        document.forms[0].submit();
    //    }
    //});
    //$('#animatedHeading').newsTicker({
    //    row_height: 120,
    //    max_rows: 4,
    //    speed: 600,
    //    direction: 'up',
    //    duration: 4000,
    //    autostart: 1,
    //   // pauseOnHover: 0
    //});
    //$('.marquee').marquee({
    //    //speed in milliseconds of the marquee
    //    duration: 5000,
    //    //gap in pixels between the tickers
    //   // gap: 50,
    //    //time in milliseconds before the marquee will start animating
    // //   delayBeforeStart: 0,
    //    //'left' or 'right'
    //    direction: 'up',
    //    //true or false - should the marquee be duplicated to show an effect of continues flow
    //  //  duplicated: true
    //});
    setInterval(function () {

        $.connection.hub.start();

    }, 4000);


    var QueueHub = $.connection.HUFHUB;

    //QueueHub.client.NewMessage = function (NewComtFlag, PublishMessageID, UnPublishMessageID, Msg, P_Name) {
    //    debugger;
    //    //$('#Chats').append('<li><strong> User Name : </strong> ' + htmlEncode(Name)

    //    //    + '<strong> Message : </strong> ' + htmlEncode(Message) + '</li>');
    //    //    //+ '<strong> Room : </strong> ' + htmlEncode(Room) + '</li>'
    //    //    //+ '<strong> DisplayIP : </strong> ' + htmlEncode(DisplayIP) + '</li>'
    //    //    //+ '<strong> ConsultantName : </strong> ' + htmlEncode(ConsultantName) + '</li>'
    //    //    //+ '<strong> PatientName : </strong> ' + htmlEncode(PatientName) + '</li>'
    //    //    //+ '<strong> ButtonCode : </strong> ' + htmlEncode(button_Code) + '</li>'
    //    //    //+ '<strong> Status: </strong> ' + htmlEncode(Status) + '</li>');



    //    Append_Comments(PublishMessageID, Msg, P_Name)

    //    remove_Comments(UnPublishMessageID);
    //};

    QueueHub.client.AnimationFlag = function (Flag) {
        
        if (Flag == "start") {
            animationRun = true;

            animationLoaderFlag = true;
            isPausedAmt = false;
            Animation_Array();
          
        }
        else {
          
            animationLoaderFlag = false;
            isPausedAmt = true;
            animationRun = false;

        }

    };


</script>
