@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $fontPrimary;
}
h1, h2, h3, h4, h5, h6{
    font-family: $fontPrimary;
    margin: 0 !important;
}
ul{padding:0 !important;}

p{
    font-family: $fontPrimary;
}


.main-header{
    @include FlexDAJ($d-fl, $di-ro,  $al-ce,  $ju-be);
    padding: 53px 40px 31px;
    background-image: url(../img/header-bg.png);
    background-position: top;
    background-repeat: repeat-x;
    @include breakpoint(1366px){
            padding: 30px 28px 15px;
    }
    @include breakpoint(1280px){
        padding: 25px 28px 15px;
    }
    .logo, .right-logo{
        img{
            @include breakpoint(1440px){
                width: 70%;
            }
        }
        @include sm{
            width: 65%;
        } 
    }
    .logo{
        @include breakpoint(1440px){
            text-align: left;
        }
    }
    .right-logo{
        @include breakpoint(1440px){
            text-align: right;
        }
    }
    
    @include sm{
        padding: 53px 20px 31px; 
        justify-content: center; 
    }
    .center-text{
        h2{
            color: $PrimaryClr;
            font-weight: $Bold;
            line-height: 38px;
            padding-bottom: 6px;
            text-align: center;
            @include breakpoint(1440px){
               font-size: 24px;
            }
            @include sm{
                font-size: 20px;
                line-height: 26px;
                padding: 13px 0;
            }
        }
        h3{
            font-weight: $Regular;
            color: $PrimaryClr;
            text-align: center;
            letter-spacing: 4px;
            @include breakpoint(1440px){
                font-size: 21px;
             }
            @include  sm{
                font-size: 16px;
                padding-bottom: 15px;
            }
        }
    }
}




.dashboard-screen{	
    @include BorderAnimation;
    .dash-iner-screens{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position:relative;

        // Target Box
        .target-box{
            padding: 31px 31px;
            position:relative;
            width:36%;
            @include breakpoint(1366px){
                padding: 20px 17px;
            }
            @include breakpoint(1280px){
                padding: 20px 13px;
            }
            @include sm{
                padding: 31px 16px;
            }
            &:last-child{
                margin-right: 0;
                box-shadow: 0px 0px 0px 0px #cccccc6e;
                width: 27%;
            }
            &:nth-child(2){
                padding: 0;
                position: relative;
                &:before {
                    @include center(vertical);
                    content: '';
                    background: #461a55;
                    background: radial-gradient(circle, #461a55 0%, #c69c52 100%);
                    width: 3px;
                    height: 74%;
                    left: 0;
                    z-index: 999;
                }
                &:after {
                    content: '';
                    @include center(vertical);
                    background: #461a55;
                    background: radial-gradient(circle, #461a55 0%, #c69c52 100%);
                    width: 3px;
                    height: 74%;
                    right: 0;
                    z-index: 999;
                }
            }
            
            h1{
                color:$PrimaryClr;
                font-weight: $Bold;
                font-size: $figureFont;
                @include breakpoint(1600px){
                    font-size: 47px;
                }
                @include breakpoint(1366px){
                    font-size: 40px;
                }
                @include md{
                    font-size : 32px;
                }
                @include sm{
                    font-size : 32px;
                }
                span {
                    font-size: 20px;
                    display: block;
                    padding-bottom: 10px;
                    font-weight: $Regular;
                    @include breakpoint(1366px){
                        font-size: 17px;
                    }
                    @include md{
                        font-size: 15px;
                    }
                    @include sm{
                        font-size: 17px;
                    }
                }
                sub {
                    bottom: 0px;
                    font-size: 29px;
                    font-weight: 500;
                    @include breakpoint(1600px){
                        font-size: 24px;
                    }
                    @include breakpoint(1366px){
                        font-size: 21px;
                    }
                    @include sm{
                        bottom: 3px;
                        font-size: 20px;
                    }
                }
            }
            .last-target{
                position:relative;
                overflow: hidden;
                padding: 41px 41px;
                height: 100%;
                @include breakpoint(1440px){
                    padding: 41px 21px;
                }
                @include breakpoint(1366px){
                    padding: 24px 21px;
                }
                .ipad-mock {
                    z-index: 1;
                    position: absolute;
                    top: 32%;
                    right: 63px;
                    transform: scale(1.2);
                    @include breakpoint(1600px){
                    transform: scale(1);
                    right: 23px;
                    }
                    @include breakpoint(1440px){
                        transform: scale(.85);
                        right: 2px;
                    }
                    @include breakpoint(1280px){
                        transform: scale(.8);
                        right: -15px;
                        top: 26%;
                    }
                    @include lsm{
                         transform: scale(1);
                         right: 25px;
                    }
                    .tab-img{
                        z-index: 1;
                        position: relative;
                        @include sm{
                            display: none;
                        }
                    }
                    .mock-screen.display{
                        .scroll-img-anim{
                            animation:none;
                        }
                    }
                    .mock-screen {
                        position: absolute;
                        width: calc(100% - 27px);
                        height: calc(100% - 61px);
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        z-index: 0;
                        background:$PrimaryClr;
                        overflow: hidden;
                        .scroll-img-anim{
                            background: url(../img/tab-screeen.png);
                            height: 100%;
                            width: 100%;
                            background-size: cover;
                            background-repeat: repeat-y;
                            animation: screenmarquee 20s linear infinite;
                        }
                    }
                }
            }
            .target-seprator{
                &:first-child{
                    border-bottom:2px solid #b8b8b8;
                    padding-bottom: 15px;
                }
                &:last-child{
                    padding-top: 15px;
                }
            }
            .range-calculation{
                display:flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                overflow: hidden;
                @include sm{
                    flex-direction: column;
                }
                .animationn-blast{
                    position: absolute;
                    top: -90px;
                    left: 0;
                    z-index: -1;
                }
                .raised-amount-counter {
                    position: relative;
                    width: 94px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 87px;
                    font-size: 27px;
                    font-weight: 700;
                    color: $PrimaryClr;
                    canvas {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .user-count {
                color:$PrimaryClr;
                img {
                    width: 22px;
                    margin-right: 10px;
                }
            }

        }
        // Target Box

        //ScholerShip Box
        .guest-box-last {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
            &:before{
                position: absolute;
                top: 50%;
                content: '';
                background: #b8b8b8;
                width: 2px;
                height: 83%;
                right: 51%;
                transform: translate(-50%, -20%) rotate(
            26deg);
                @include breakpoint(1600px){
                    height: 63%;
                }
                @include sm{
                    height: 62%;
                }
            }
            h4 {
                color: $PrimaryClr;
                font-weight: $Regular;
                line-height: 26px;
                @include breakpoint(1600px){
                    font-size: 21px;
                }
                @include sm{
                    font-size: 17px;
                    line-height: 20px;
                }
            }
            
        }
        //ScholerShip Box

        // Accessible Giving
        .access-gives{
            padding-top: 26px;
            @include breakpoint(1440px){
                padding-top: 35px;
            }
            h3{
                font-weight: $Bold;
                color: $PrimaryClr;
                @include breakpoint(1600px){
                    font-size: 25px;
                }
            }
            h4{
                font-weight: $Medium;
                color: $PrimaryClr;
                padding-top: 11px;
                @include breakpoint(1600px){
                    font-size: 21px;
                }
            }
        }
        
        
    }
}




.all-contributes-area{
    .sup-head{
        color: $PrimaryClr;
        font-weight: $SemiBold;
        padding: 42px 0 14px;
        position: relative;
        z-index: 1;
        text-transform:uppercase;
        
        @include breakpoint(1440px){
            padding: 46px 0 22px;
        }
        @include breakpoint(1366px){
            padding: 30px 0 14px;
        }
        @include breakpoint(1280px){
            padding: 24px 0 12px;
        }
    }
    .contr-wraper-main{
        @include SupportBox;
        .all-contribute{
            li{
                padding: 0px 10px;
                background: $white;
                display: flex;
                justify-content: space-between;
                margin: 0 5px;
                @include sm{
                    font-size: 19px;
                }
                .img-flex-set{
                    border-bottom: 1px solid transparent !important;
                    flex-direction: row !important;
                    @include FlexDAJ($d-fl, $di-ro, $al-ce, $ju-ce);
                    .al-conrib-left{
                        width: 100%;
                        justify-content: center;
                        p{
                            text-align:center;
                        }
                   } 
                }
                .flex-set{
                    border-bottom: $Border;
                    padding: 10px 0;
                    width: 100%;
                    @include FlexDAJ($d-fl, $di-ro, $al-ce, $ju-be);
                    .al-conrib-left{
                        display: flex;
                        align-items: flex-start;
                        p{
                            font-weight: 600;
                            text-align: left;
                            font-size: 23px;
                            @include breakpoint(1366px){
                                font-size: 20px;
                            }
                            @include sm{
                                 line-height: 18px;
                            }
                            span{
                                display: block;
                                font-size: 19px;
                                font-weight: 400;
                                padding-top: 7px;
                                @include sm{
                                    font-size: 16px;
                                }
                            }
                        }
                        .newest-tag{
                            padding: 0 10px;
                            background: $SecondaryClr;
                            color: $white;
                            margin: 6px 14px 0 !important;
                            font-size: 14px;
                        }
                    }
                    .al-conrib-right{
                        text-align: right;
                        line-height: 100px;
                        @include sm{
                            width: 100%;
                        }
                        p{
                            font-size: 15px;
                            line-height: 23px;
                            margin: 0 !important;
                            
                            .al-month{
                                padding: 0 10px;
                                background: $SecondaryClr;
                                color: $white;
                                margin-right: 20px;
                                font-size: 14px;
                                font-weight: 500;
                            }
                            .al-usd{
                                font-size: 22px;
                                font-weight: 600;
                                color: $PrimaryClr;
                                /* border-bottom: 1px solid#b8b8b8; */
                                position: relative;
                                &:after{
                                    width: 100%;
                                    content: '';
                                    position: absolute;
                                    background: #b8b8b8;
                                    height: 1px;
                                    bottom: -7px;
                                    left: 0;
                                }
                            }
                        }
                        .rec-sp{
                            padding-bottom: 6px;
                            padding-top: 16px;
                            color: $PrimaryClr;
                            @include sm{
                                padding-top: 9px;
                            }
                        }
                    }
                }
            }
        }
        #animatedHeading{
            top: 0;
            position: relative;
            box-sizing: border-box;
            animation: marquee 20s linear infinite;
            margin: 0 auto;
            text-align: center;
        }
      
    }
}

.comment-area{
    @include SupportBox;
    .all-contribute{
        li{
            padding:0px 10px;
            .img-flex-set{
                border-bottom: 1px solid transparent !important;
                flex-direction: row !important;
                @include FlexDAJ($d-fl, $di-ro, $al-ce, $ju-ce);
                .al-conrib-left{
                    width: 100%;
                    p{
                        text-align:center;
                    }
               } 
            }
            .flex-set{
                border-bottom: $Border;
                flex-direction: column;
                align-items: flex-start;
                padding: 13px 0;
                 
                p{
                    margin: 0;
                }
                h4{
                    @include breakpoint(1366px){
                        font-size: 20px;
                    }  
                }
            }
        }
    }
}



footer{
    background-image: url(../img/footer-bg.png);
    padding: 27px 0;
    background-position: 100% 80%;
    background-repeat: inherit;
    @include breakpoint(1366px){
        padding: 29px ​0;
    }
    @include breakpoint(1280px){
        padding: 28px 0;
    }
    p.copy-text {
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        color: $PrimaryClr;
        position: relative;
        z-index: 99;
        margin: 0;
    }
}





  
  
  