﻿@model DonorManagementApp.PledgeDatabase.PledgerHUF2021
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHUFGala2021.cshtml";
}
<script type="text/javascript">
    $(function () {
        var _recognition = $('#hfRecognition').val();
        if (_recognition.indexOf('name') > 0) {
            $('#rdInMemoryOf').prop('checked', 'checked');
            $('#divInNameOf').show();
        } else {
            $('#rd' + _recognition).prop('checked', 'checked');
        }
        debugger;
        var _considerAsZakat = $('#hfZakat').val();
        if (_considerAsZakat == '' || _considerAsZakat == null) {
            $('#chkZakat').val('Donation');
            $('#chkZakat').prop('checked', 'checked');
        } else {
            $('#chkZakat').val('Zakat');
            $('#chkZakat').prop('checked', 'checked');
        }
        console.log(_recognition);


        $('input[name="recognition"]').on("change", function () {
            console.log(this.id);
            $(this).is(':checked');
            var recognition = $('input[name="recognition"]:checked').val();
            console.log(recognition);
            if (this.id == 'rdInMemoryOf') {
                $('#divInNameOf').show();
            } else {
                $('#divInNameOf').hide();
            }
        });

        hideLoader();

        $('#amount').val(addCommas($('#amount').val()));
        
    });
</script>
<div class="container">
    <div class="row justify-content-center no-gutters">
        <div class="col-lg-4">
            <div class="detail-form-inner donation-detailo-form">

                <h2 class="text-center">Please pay your pledge!</h2>
                @if (Model != null)
                {
                    using (Html.BeginForm("Pay", "Payment", FormMethod.Post))
                    {
                        <input type="hidden" name="Plan" id="Plan" value="One Time" />
                        <input type="hidden" name="HearFrom" id="HearFrom" value="HU" />
                        <input type="hidden" name="HearFromField" id="HearFromField" value="HU" />
                        <input type="hidden" name="GatewayFlag" id="GatewayFlag" value="1" />

                        <input type="hidden" name="firstName" id="HearFrom" value="@Model.FirstName" />
                        <input type="hidden" name="lastName" id="HearFromField" value="@Model.LastName" />
                        <input type="hidden" name="email" id="GatewayFlag" value="@Model.Email" />



                        @Html.AntiForgeryToken()
                        <!--px-4-->
                        <div class="row no-gutters">

                            @*<div class="col-sm-12 text-center custom-heads"><h2 style="text-align:center">Select a Plan</h2></div>
                    <div class="col-sm-12 select-freq" style="text-align:center">

                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="month-freq" value="Monthly" required checked /><label for="month-freq" class=" freq_monthly"><span>Monthly</span></label>


                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="yearly-freq" value="Yearly" /><label for="yearly-freq" class="freq_yearly"><span class="">Yearly</span></label>

                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="quarterly-freq" value="Quarterly" /><label for="quarterly-freq" class="freq_yearly"><span class="">Quarterly</span></label>


                        <span class="text-hide has-error text-danger" id="error_plan">Please select plan</span>
                    </div>




                    <div class="col-lg-12">
                        <label class="chkbox-container">One time only <input name="RecurringDonationFrequency" id="onetimeonly" type="checkbox"><span class="checkmark"></span></label>
                    </div>*@
                            <div class="col-lg-6 pr-lg-2">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon1.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control" id="firstName"  placeholder="First Name" autocomplete="off" value="@Model.FirstName" disabled style="text-transform: capitalize;">
                                    <label id="firstNameError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="col-lg-6 pl-lg-2">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon1.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control" placeholder="Last Name" id="lastName" autocomplete="off" value="@Model.LastName" disabled style="text-transform: capitalize;">
                                    <label id="lastNameError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon2.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control" placeholder="Email" id="email" autocomplete="off" disabled value="@Model.Email">
                                    <label id="emailError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon3.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control numbersOnly numbersOnlyWithoutComma" placeholder="Mobile (0092XXXXXXXXXX)" maxlength="12" id="phone" name="CellNumber" autocomplete="off" value="@Model.PhoneNo">
                                    <label id="contactNoError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            @*<div class="col-lg-12">
                        <div class="form-group">
                            <img src="/pledgecontent/img/icon4.svg" class="icon-control" alt="">
                            <input type="text" class="form-control" placeholder="Address (House#, Street#, City, State, Zip Code)" id="address" name="address" autocomplete="off" value="@Model.Address">
                            <label id="addressError" class="text-danger text-hide"></label>
                        </div>
                    </div>*@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon5.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control" placeholder="Organization" id="oragnization" name="oragnization" autocomplete="off" value="@Model.Organization">
                                    <label id="oragnizationError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-4">
                                <div class="pledge-inner-recognize">
                                    <h2 class="sec-heading">Pledge to be recognized by</h2>

                                    <div class="list-of-support pt-2">
                                        <ul class="pldge-rec-ul">
                                            <li>
                                                <div class="item-tick">
                                                    <input type="radio" class="radio_cus_pledg" id="rdSelf" name="recognition" value="0">
                                                    <label for="rdSelf" class="raio_label_pledg">Self</label>
                                                </div>
                                                <input type="hidden" id="hfRecognition" name="hfRecognition" value="@Model.Recognition" />
                                            </li>
                                            <li>
                                                <div class="item-tick">
                                                    <input type="radio" class="radio_cus_pledg" id="rdAnonymous" name="recognition" value="1">
                                                    <label for="rdAnonymous" class="raio_label_pledg">Anonymous</label>
                                                </div>
                                            </li>
                                            <li class="last-child">
                                                <div class="item-tick">
                                                    <input type="radio" class="radio_cus_pledg" id="rdInMemoryOf" name="recognition" value="2">
                                                    <label for="rdInMemoryOf" class="raio_label_pledg">In the name / memory of</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-12 px-0" id="divInNameOf" style="display:none;">
                                        <div class="form-group">
                                            <input type="text" id="txtInNameOf" name="InTheNameOf" class="form-control" placeholder="Enter the name other than the self" value="@Model.InTheNameOf">
                                        </div>
                                    </div>
                                    <label id="recognitionError" class="text-danger text-hide"></label>

                                    <h2 class="sec-heading">Pledge Payment Plan</h2>


                                    <div class="col-sm-12 select-freq" style="text-align:center">

                                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="oneTime-freq" value="One Time" required checked /><label for="oneTime-freq" class=" freq_monthly"><span title="One Time">One Time</span></label>

                                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="month-freq" value="Monthly" /><label for="month-freq" class="freq_monthly"><span title="Every Month on the Same Date">Monthly</span></label>

                                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="quarterly-freq" value="Quarterly" /><label for="quarterly-freq" class="freq_yearly"><span title="Every 3 Months on the Same Date" class="">Quarterly</span></label>

                                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="yearly-freq" value="Yearly" /><label for="yearly-freq" class="freq_yearly"><span title="Once a Year on the Same Date" class="">Yearly</span></label>



                                        <span class="text-hide has-error text-danger" id="error_plan">Please select plan</span>
                                    </div>





                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/USD-icon.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control numbersOnly numbersOnlyWithComma" placeholder="Amount to donate" onchange="onOtherTxtEvents(this);" id="amount" name="amount" autocomplete="off" value="@Model.TotalPledgeAmount">
                                    <label id="oragnizationError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="list-of-support" style="display:none">
                                <ul>
                                    <li>
                                        <div class="item-tick">
                                            <input type="checkbox" id="chkZakat" name="TreatAsZakat" class="radio_cus_pledg" value="">

                                            <label for="chkZakat" id="chkZakat_label" class="raio_label_pledg">Consider as Zakat</label>
                                        </div>
                                        <input type="hidden" id="hfZakat" name="hfZakat" value="@Model.ConsiderAsZakat" />
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group row custom-ff">
                            <div class="col-sm-12">
                                <button type="button" id="btnPay" class="pledge-btn">Pay now !</button>
                                @*<button type="button" style="display:none" id="btnPaypal" class="btn btn-primary custom-btn">Subscribe</button>*@
                                @{
                                    if (!string.IsNullOrEmpty(ViewBag.Msg))
                                    {
                                        <p class="text-danger" style="font-size:14px; background-color: transparent; padding-top:10px;" id="message">@ViewBag.Msg</p>
                                        <br />
                                    }
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    using (Html.BeginForm("Pay", "Payment", FormMethod.Post))
                    {
                        <input type="hidden" name="Plan" id="Plan" value="One Time" />
                        <input type="hidden" name="HearFrom" id="HearFrom" value="HU" />
                        <input type="hidden" name="HearFromField" id="HearFromField" value="HU" />
                        <input type="hidden" name="GatewayFlag" id="GatewayFlag" value="1" />
                        @Html.AntiForgeryToken()
                        <!--px-4-->
                        <div class="row no-gutters">

                            @*<div class="col-sm-12 text-center custom-heads"><h2 style="text-align:center">Select a Plan</h2></div>
                    <div class="col-sm-12 select-freq" style="text-align:center">

                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="month-freq" value="Monthly" required checked /><label for="month-freq" class=" freq_monthly"><span>Monthly</span></label>


                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="yearly-freq" value="Yearly" /><label for="yearly-freq" class="freq_yearly"><span class="">Yearly</span></label>

                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="quarterly-freq" value="Quarterly" /><label for="quarterly-freq" class="freq_yearly"><span class="">Quarterly</span></label>


                        <span class="text-hide has-error text-danger" id="error_plan">Please select plan</span>
                    </div>*@




                            @*<div class="col-lg-12">
                            <label class="chkbox-container">One time only <input name="RecurringDonationFrequency" id="onetimeonly" type="checkbox"><span class="checkmark"></span></label>
                    </div>*@
                            <div class="col-lg-6 pr-lg-2">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon1.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" autocomplete="off" value="" style="text-transform: capitalize;">
                                    <label id="firstNameError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="col-lg-6 pl-lg-2">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon1.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control" placeholder="Last Name" id="lastName" name="lastName" autocomplete="off" value="" style="text-transform: capitalize;">
                                    <label id="lastNameError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon2.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control" placeholder="Email" id="email" name="email" autocomplete="off" value="">
                                    <label id="emailError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon3.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control numbersOnly numbersOnlyWithoutComma" placeholder="Mobile (0092XXXXXXXXXX)" maxlength="12" id="phone" name="CellNumber" autocomplete="off" value="">
                                    <label id="contactNoError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            @*<div class="col-lg-12">
                        <div class="form-group">
                            <img src="/pledgecontent/img/icon4.svg" class="icon-control" alt="">
                            <input type="text" class="form-control" placeholder="Address (House#, Street#, City, State, Zip Code)" id="address" name="address" autocomplete="off" value="">
                            <label id="addressError" class="text-danger text-hide"></label>
                        </div>
                    </div>*@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/icon5.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control" placeholder="Organization" id="oragnization" name="oragnization" autocomplete="off" value="">
                                    <label id="oragnizationError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="pledge-inner-recognize">
                                    <h2 class="sec-heading">Pledge to be recognized by</h2>

                                    <div class="list-of-support pt-2">
                                        <ul class="pldge-rec-ul">
                                            <li>
                                                <div class="item-tick">
                                                    <input type="radio" class="radio_cus_pledg" id="rdSelf" name="recognition" value="0">
                                                    <label for="rdSelf" class="raio_label_pledg">Self</label>
                                                </div>
                                                <input type="hidden" id="hfRecognition" name="hfRecognition" value="" />
                                            </li>
                                            <li>
                                                <div class="item-tick">
                                                    <input type="radio" class="radio_cus_pledg" id="rdAnonymous" name="recognition" value="1">
                                                    <label for="rdAnonymous" class="raio_label_pledg">Anonymous</label>
                                                </div>
                                            </li>
                                            <li class="last-child">
                                                <div class="item-tick">
                                                    <input type="radio" class="radio_cus_pledg" id="rdInMemoryOf" name="recognition" value="2">
                                                    <label for="rdInMemoryOf" class="raio_label_pledg">In the name / memory of</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-12 px-0" id="divInNameOf" style="display:none;">
                                        <div class="form-group">
                                            <input type="text" id="txtInNameOf" name="InTheNameOf" class="form-control" placeholder="Enter the name other than the self" value="">
                                        </div>
                                    </div>
                                    <label id="recognitionError" class="text-danger text-hide"></label>

                                    <h2 class="sec-heading">Pledge Payment Plan</h2>

                                    <br />

                                    <div class="col-sm-12 select-freq" style="text-align:center">

                                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="oneTime-freq" value="One Time" required checked /><label for="oneTime-freq" class=" freq_monthly"><span title="One Time">One Time</span></label>

                                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="month-freq" value="Monthly" /><label for="month-freq" class="freq_monthly"><span title="Every Month on the Same Date">Monthly</span></label>

                                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="quarterly-freq" value="Quarterly" /><label for="quarterly-freq" class="freq_yearly"><span title="Every 3 Months on the Same Date" class="">Quarterly</span></label>

                                        <input type="radio" class="freq-select" name="RecurringDonationFrequency" id="yearly-freq" value="Yearly" /><label for="yearly-freq" class="freq_yearly"><span title="Once a Year on the Same Date" class="">Yearly</span></label>



                                        <span class="text-hide has-error text-danger" id="error_plan">Please select plan</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <img src="/pledgecontent/img/USD-icon.svg" class="icon-control" alt="">
                                    <input type="text" class="form-control numbersOnly numbersOnlyWithComma" onchange="onOtherTxtEvents(this);" placeholder="Amount to donate" id="amount" name="amount" autocomplete="off" value="">
                                    <label id="amountError" class="text-danger text-hide"></label>
                                </div>
                            </div>
                            <div class="list-of-support" style="display:none">
                                <ul>
                                    <li>
                                        <div class="item-tick">
                                            <input type="checkbox" id="chkZakat" name="TreatAsZakat" class="radio_cus_pledg" value="">
                                            <label for="chkZakat" id="chkZakat_label" class="raio_label_pledg">Consider as Zakat</label>
                                        </div>
                                        <input type="hidden" id="hfZakat" name="hfZakat" value="" />
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group row custom-ff">
                            <div class="col-sm-12">
                                <button type="button" id="btnPay" class="pledge-btn">Pay now !</button>
                                @{
                                    if (!string.IsNullOrEmpty(ViewBag.Msg))
                                    {
                                        <p class="text-danger" style="font-size:14px; background-color: transparent; padding-top:10px;" id="message">@ViewBag.Msg</p>
                                        <br/>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            </div>
    </div>
</div>