﻿
@{
    ViewBag.Title = "Dasboard_Two";
    Layout = "";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Donate, Pakistan, Education, higher education, HUFUS,HUF US,Habib University Foundation,Habib University Foundation US, Habib,Habib Donors,Contribute to Habib,Habib University Houston,Habib University Fundraiser,Habib University,Houston, ">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->
    <title>Donation Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- ========== TITLE, DESCRIPTION & OTHER META TAGS ========== -->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon-hufus.ico">

    <!-- Bootstrap CSS -->
    <link href="~/Content/Dashboard/css/plugin.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Dashboard/css/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/plugin.css">*@
</head>
<body class="js-container">


    <header>
        <div class="container-fluid px-5">
            <div class="header-inner">
                <div class="logo">
                    <img src="img/hu-logo.svg" alt="" class="hu-logo">
                </div>
                <div class="buildin-content">
                    <h2>
                        Building Communities
                        & Reshaping Philanthropy
                    </h2>
                    <h3>Make your Commitment</h3>
                </div>
                <div class="left-logo">
                    <img src="img/huf-us-logo.svg" alt="" class="huf-logo">
                </div>
            </div>
        </div>
    </header>
    <div class="main-wrapper">

        <section class="guest-participation">
            <div class="container-fluid px-5">
                <div class="row align-items-end">
                    <div class="col-lg-4">
                        <div class="target-ammoun gradient-border">
                            <h3>Target Amount for Tonight</h3>
                            <h1 class="target-amount" id="lblTragetAmt">USD 0</h1>
                            <div class="raised-area">
                                <div class="raised-area-box">
                                    <h3>Raised Amount</h3>
                                    <h1 class="raised-amount" id="lblRaisedAmt">USD 0</h1>
                                </div>
                                <div class="raisde-percenta">
                                    <h1 id="raisdAmt_P">0%</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="guest-box after-img">
                            <div class="guest-head">
                                <h1 class="percentage-count" id="SustainablePer">0%</h1>
                                <p class="user-count"><img src="img/user-icon.svg" alt=""><span id="T_sustainable_People">0</span></p>
                            </div>
                            <p>of <span id="Sustainable_Count">0</span>  guests signed up <br> for sustainable giving</p>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="guest-box-last after-img">

                            <div class="guest-last-left">
                                <h1 class="percentage-count">20.25</h1>
                                <p>Scholarships <br> are pledged</p>
                            </div>
                            <div class="guest-last-left">
                                <p class="user-count"><img src="img/user-icon.svg" alt="">30</p>
                                <div class="bottom-last-box">
                                    <h1 class="percentage-count">05</h1>
                                    <p>Full named <br> scholarships</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="all-contributes-area">
            <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Supporters</h4>
                        <div class="contr-wraper-main">
                            <ul class="all-contribute" id="animatedHeading">

                                @*<li style="opacity: 0;">
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Amir Shahdddd
                                                <span>Donated</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Monthly</span>
                                                <span class="al-usd">USD 500</span>
                                            </p>
                                            <p class="rec-sp">Scholarship Funds</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Amir Shah
                                                <span>Sustaianbale Giving</span>
                                            </p>
                                            <p class="newest-tag">
                                                New
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 6,000</span>
                                            </p>
                                            <p class="rec-sp">Monthly USD 500</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Shell Oil Co
                                                <span>Sustainable Giving</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 48,000</span>
                                            </p>
                                            <p class="rec-sp">Monthly USD 4,000</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Sajjad Dawood
                                                <span>Merit based scholarship</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 5,000</span>
                                            </p>
                                           
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Amir Shah
                                                <span>Sustaianbale Giving</span>
                                            </p>
                                            <p class="newest-tag">
                                                New
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 6,000</span>
                                            </p>
                                            <p class="rec-sp">Monthly USD 500</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Shell Oil Co
                                                <span>Sustainable Giving</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 48,000</span>
                                            </p>
                                            <p class="rec-sp">Monthly USD 4,000</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex-set">
                                        <div class="al-conrib-left">
                                            <p>
                                                Sajjad Dawood
                                                <span>Merit based scholarship</span>
                                            </p>
                                        </div>
                                        <div class="al-conrib-right">
                                            <p>
                                                <span class="al-month">Yearly</span>
                                                <span class="al-usd">USD 5,000</span>
                                            </p>
                                            <p class="rec-sp">Scholarship Funds</p>
                                        </div>
                                    </div>
                                </li>*@


                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <h4>Comments From Gala Guest</h4>
                        <div  id="commentsContainer">
                        <ul class="all-contribute" id="commentanimatedHeading">
                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>We make a living by what we get, but we make a life by what we give.</p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>We make a living by what we get, but we make a life by what we give.</p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>We make a living by what we get, but we make a life by what we give.</p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>We make a living by what we get, but we make a life by what we give.</p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>We make a living by what we get, but we make a life by what we give.</p>
                                </div>
                            </li>

                            <li>
                                <div class="flex-set">
                                    <h4>Muhammad Tahir</h4>
                                    <p>We make a living by what we get, but we make a life by what we give.</p>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <div class="donation-celebration">
        <div class="donation-content">
            <label class="donator-name">
                Muhammad Shehriyar Hasan
                <span>Donated</span>
            </label>
            <label class="donation-recieve">USD 50,000</label>
        </div>
    </div>

    @*<script src="js/plugin.js"></script>
        <script src="js/custom.js"></script>*@
    <script src="~/Content/Dashboard/js/plugin.js"></script>
    <script src="~/Content/Dashboard/js/custom.js"></script>
    <script src="~/Content/Dashboard/js/Dashboard.js"></script>
    <script src="~/Scripts/accounting.js"></script>
</body>
</html>
