﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="Regular Giving - Habib University">
    <meta name="description" content="Help support in shaping Pakistan’s future">
    <meta name="keywords" content="giving, Habib University, higher education, Pakistan, university, scholarship programs, donate, liberal arts, institution">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Asim Siddiqui">
    <meta property="og:title" content="Regular Giving - Habib University">
    <meta property="og:description" content="Help support in shaping Pakistan’s future">
    <meta property="og:image" content="https://habib.edu.pk/donate-webapp/Habib-University-Giving.png">
    <meta property="og:url" content="https://giving.habib.edu.pk/">

    <meta name="twitter:image" content="https://habib.edu.pk/donate-webapp/Habib-University-Giving.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <title>Regular Giving - Habib University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous">

    <!-- css owl -->
    <!-- <link rel="stylesheet" href="../../Content/docs.theme.min.css">
    <link rel="stylesheet" href="../../Content/owl.carousel.min.css">
    <link rel="stylesheet" href="../../Content/owl.theme.default.min.css">-->

    <link rel="stylesheet" href="https://habib.edu.pk/playground/wp-content/themes/playground/css/owl.carousel.min.css?ver=4.8.10">
    <link rel="stylesheet" href="https://habib.edu.pk/playground/wp-content/themes/playground/css/owl.theme.default.min.css?ver=4.8.10">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous">

    <!-- script owl -->
    <script src="../../Scripts/vendors/jquery.min.js"></script>
    <script src="../../Scripts/owl.carousel.js"></script>

    <!-- <script src="https://hufus.org/owl/assets/vendors/jquery.min.js"></script> -->
    <!-- <script src="https://habib.edu.pk/playground/wp-content/themes/playground/js/owl.carousel.min.js"></script> -->
    <!-- lity files -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js" integrity="sha512-UU0D/t+4/SgJpOeBYkY+lG16MaNF8aqmermRIz8dlmQhOlBnw6iQrnt4Ijty513WB3w+q4JO75IX03lDj6qQNA==" crossorigin="anonymous"></script>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css" integrity="sha512-UiVP2uTd2EwFRqPM4IzVXuSFAzw+Vo84jxICHVbOA1VZFUyr4a6giD9O3uvGPFIuB2p3iTnfDVLnkdY7D/SJJQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/custom.css?v=1.3.5" />
</head>
<body>
    <div id="mask" style="display:none; background-color:black; opacity:0.15; z-index: 9000; width:100%; height:100%; position:fixed; top:0;left:0"></div>
    <div id="loader" style="display:none; position:fixed; top:0; bottom:0; left:0;right:0; margin:auto; width:100px; height:100px; z-index:9002; background-image:url(../../Images/ajax-loaderBlack.gif)"></div>
    <div class="page-contain">
        <div class="container-fluid top-bg">
            <div class="row">
                <div class="col-md-12 text-center space-x">
					
					<button type="button" class="logo_btn" data-toggle="modal" data-target="#video0"><img src="../images/HU-logo.svg" width="205" height="68" alt="" /></button>
                    
                </div>
            </div>
<div class="modal fade" id="video0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio poster="https://habib.edu.pk/donate-webapp/maria-video-thumbnail.jpg"-->
                            <div class="embed-responsive embed-responsive-16by9">

                                <video width="100%" height="auto" controls poster="https://habib.edu.pk/donate-webapp/wasif-video-thumb.jpg"> 
									<source src="https://habib.edu.pk/donate-webapp/videos/wasif-rizvi.mp4" type="video/mp4" preload="none">
Your browser does not support the video tag.
</video>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container body-content" style="overflow: hidden; width: 100%;">
            <div id="container" class="slideLeftToRight"></div>
            <div id="mainPage" style="" class="slideRightToLeft">
                @RenderBody()
            </div>
            @*<hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
        </div>
		
		      
		
    </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0NLEPXX26T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0NLEPXX26T');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51636538-17"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-51636538-17');
</script>
	

	<script> 
          
            $('.modal').on('hidden.bs.modal', function (e) {
 
                  var vid = document.getElementsByTagName("video");
 
                  for(var i = 0; i < vid.length; i++){
                      vid[i].pause();
					vid[i].currentTime = 0; 


                    }
                    
                });   
		
		
//		     $('#nargissoorty').on('shown.bs.modal', function () {
//				 
//				 var vid = document.getElementById("nargissoorty_vid");
//				 vid.play();
////				  $('#nargissoorty_vid')[0].play();
//				
//			 }); 

		
	
          </script>
	
	
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/DMS")*@
    @RenderSection("scripts", required: false)
	   <script src="~/Scripts/dms.js?v=1.1"></script>
</body>
</html>
